<header style="position: sticky; top: 0; z-index: 100; margin: 0">
    <div class="topmenu">
            <div class="container-fluid" style="height: 25px; background-color: black">
                <div style="float: right ; margin-right: 50px">
                
                  <a href="https://www.linkedin.com/in/rahul-dudhane-412805" target="_blank">
                        <i class="fa fa-linkedin-square" ></i></a>
                    <a href="https://www.facebook.com/rahul.dudhane.52" target="_blank">
                        <i class="fa fa-facebook-official" ></i>
                    </a>
                    <i class="fa fa-twitter" ></i>
                   <a href="https://www.youtube.com/channel/UCMJZQ3KaOpTFGwKijZCN1Ng" target="_blank">
                    <i class="fa fa-youtube" ></i>
                   </a> 
                    <i class="fa fa-bitbucket" ></i>

                </div>    
                </div>
    </div>



    <nav class="navbar navbar-default" style="background-color: rgb(0, 195, 192);
    margin-top:1px; margin-bottom: 0 ;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin: 0">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
            data-target="#myMenu" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#myHome">My Resume</a>
        </div>
        <div class="collapse navbar-collapse" id="myMenu" style="margin: 0">
            
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="#myHome">Home</a></li>
                <li ><a href="#mytech">Technology Stack</a></li>
                <li ><a href="#">Projects</a></li>
                <li ><a href="#">Contact Me</a></li>
                
            </ul> -->
            <ul class="nav navbar-nav" style="width: inherit">
                <li ><a routerLink="/event-binding-component" routerLinkActive="active" >Home</a></li>
                <li ><a routerLink="/tech-stack-component" routerLinkActive="active">Technology Stack</a></li>
                    <li ><a routerLink="/projects-list" routerLinkActive="active">Projects</a></li>
                    <li ><a href="#">Contact Me</a></li>
                    <li><a><div class="label label-default">This nav bar uses Routing</div></a></li>
                    
                </ul>
                
            </div>
    </div>
    
</nav>


</header>